# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
.venv/
env/
.env/

# Django-specific files
db.sqlite3
local_settings.py
media/  # Or your specific media root folder
staticfiles/ # Or your specific static files root folder

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.bak

# Operating System files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage files
.coverage
.coverage.*

# Jupyter Notebook files
.ipynb_checkpoints/

# Environment variables
.env